#header{
    width: auto;
    height:  150px;
    display: flex;
    align-items: center;
    list-style-type: none;
   
}
#left-nav-header{
   display: flex;
   justify-content: space-between;
   width: 100%;
   align-items: center;
   
}
#right-nav-header{
    display: flex;
    width: 60%;
 gap: 40px;
 justify-content: end;
align-items: center;
 
}
#h1-titulo-header{
color:#FF6A00 ;
list-style: bold;
line-height: auto;
font-size: 30px;
font-family: "Inter", serif;
}
#li-header{
    line-height:auto ;
    font-size: 20px;
    font-style: Regular;
    color: #000000;
    font-family: "Inter", serif;
}
#div-input-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 267px;
    height: 34.81px;
        background:  #F5F5F5;
        border-radius: 20px;
        border: none;
}
#input-header{
    width: 85%;
    height: 100%;
        background:  #F5F5F5;
        border-radius: 20px;
        border: none;
        
}
#div-input-header:hover{
    transform: scale(1.05);
    transition: .6s;
  
}
#lupa-header{
    width: 18px;
    height: 18px;
}
input::placeholder{
    font-size: 18px;
    line-height: auto;
    font-style: Regular;
}
