#footer{
    width: 100%;
    height: 100%;
    margin-top: 100px;
  
}
#retangulo-footer{
    width: 90%;
    height: 360px;
    background:  #F5F5F5;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}
#div-centro-retangulo{
    width: 80%;
    height: 75%;
  
    display: flex;
    justify-content: center;
    align-items: center;
    

}
#div-inf-footer{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 100%;
   
}

/*///////////////////////////////////*/

/*lado esquerdo footer*/
#lado-esquerdo-footer{
  
width:  100%;
height: 100%;


}
#work-and-email{  
    display: flex;
    height: 100%;
   flex-direction: column;
   justify-content: space-around;
 
}
#parte-cima-W-E{
    display: flex;
    align-items: center;
    gap: 5px;
}
#parte-mid-W-E{
    display: flex;
    align-items: center;
}

#traco-footer{
    width: 4px;
    height: 10px;
    border-radius:12px;
    background: #FF6A00;
    
}
#h1-lado-esquerdo-W-E{
    font-size: 14px;
    line-height: auto ;
    font-style: medium;
    font-family: "Roboto", serif;
    color: #3E3232;
}
#p-lado-esquerdo-W-E{
    font-size:14px;
    line-height: 20px;
    font-style: medium;
    font-family: "Inter", serif;
    color: #8F8F8F;
}
#titulo-email{
    display: flex;
    align-items: center;
    gap: 5px;
}
#h1-email-footer{
    font-size: 14px;
    line-height: auto ;
    font-style: medium;
    font-family: "Roboto", serif;
    color: #3E3232;
}
#div-input-footer{
    display: flex;
    justify-content: center;
    align-items: center;
     width: 300px;
    height: 41.14px;
}
#div-input-footer:focus{
    transform: scale(1.05);
    transition: 0.8s;
    border: 1px solid  #FF6A00; ;
    outline: none;
}
#input-footer{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: #fff;
     position: relative;
    border: none;
 
}
#input-footer:focus{
    transform: scale(1.05);
    transition: 0.8s;
    border: 1px solid  #FF6A00; ;
    outline: none;
}
 #div-iconGmail{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 #iconGmail{
    position: absolute;
    margin-right: 60px;
 }
/*lado esquerdo footer*/


/*///////////////////////////////////*/

/*lado direito footer*/
#lado-direito-footer{
    width:  100%;
    height: 100%;
   display: flex;
   flex-direction: column;
    align-items: end;
 
}
#categoria-and-Redes-sociais{
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    gap: 15px;
    
}
#parte-cima-C-R{
    display: flex;
    align-items: center;
    gap: 5px;
    
}
#parte-mid-C-R{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
  
}
#h1-lado-direito-C-R{
    font-size:14px;
    line-height: auto;
    font-style: medium;
    font-family: "Roboto", serif;
    color: #3E3232;
}
#li-footer{
    list-style: none;
}
#a-footer{
color: #8F8F8F; 
font-family: "Inter", serif;
font-size: 14px;
font-style: medium;
line-height: 20px;
 text-decoration: none;
}
#li-footer:hover{
     transform:scale(1.05);
     transition: .6s;
}
#a-footer:hover{
   transition: .3s;
   color: #FF6A00;
}
#h1-parte-baixo-C-R{
    display: flex;
    align-items: center;
    gap: 5px;
}
#h1-redes-sociais-footer{
    font-size:14px;
    line-height: auto;
    font-style: medium;
    font-family: "Roboto", serif;
    color: #3E3232;
}
#img-redes-sociais:hover{
transform: scale(1.10);
transition: .6s;
cursor: pointer;
}
#div-politica-privacidade{
    display: flex;
    height: 20%;
    width: 100%;
    margin-top: 30px;
    justify-content: start;
    
}
#politica-privacidade{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 100%;
    border-radius: 0px 20px 20px 0px;
    background-color: rgba(62, 50, 50, 0.05);
 
}
#p-politica-privacidade{
    font-size:12px;
    line-height: auto;
    font-style: Regular;
    font-family: "Roboto", serif;
    color: #3E3232;
}


/*lado direito footer*/