/*main-principal start*/
#main-principal{
    width: 100%;
    height: auto;
    margin-top: 70px;
}
#div-img-principal{
    display: flex;
    align-items: center;
    justify-content: center;
}
#h1-principal{
    position: absolute;
    font-family: "Inter", serif;
    line-height: 34px;
    font-style: bold;
    color: #fff;
    font-size: 120px;
}
/*main-principal end*/
 
 /*///////////////////////////////////////////////////*/

/*second-main start*/

#second-main{
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 50px;
}
#div-img-esfericas{
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  
}
#img-esferica:hover{
  transform: scale(1.10);
  transition: .8s;
  cursor: pointer;
}
#img-esferica{
     width: 260px;
    height: 260px;
}
#second-main-div-traco{
    width: 5px;
height:1130px;
background: linear-gradient(#FF6A00 0%,#FFAE74 100%);
 
 }
 #div-objetivo{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    
 }
 #second-main-h1{
    font-size: 80px;
    line-height: 34px;
    font-style: bold;
    font-family: "Inter", serif;
    color: #FF6A00;
 }
 #second-main-p{
    font-size: 40px;
    line-height: 50px;
    font-style: regular;
    font-family: "Inter", serif;
    color: #000;
 }
 #div-traco-end{
     display: flex;
    justify-content: center;
    
 }
 #second-main-traco-end{
    width: 90%;
    height: 2px;
    background:#FF6A00;
    margin-top:30px;
 }
 
/*second-main end*/
#third-main{
      width: 100%;
      
      margin-top: 30px;
}
#div-third-main-h1{
    display: flex;
  width: 100%;
  justify-content: center;
}
#h1-third-main{
    font-family: "Roboto", serif;
    font-size: 50px;
    line-height: 34px;
    font-style: Regular;
}
#div-cubes{
    display: grid;
      justify-items: center;
    grid-template-columns: repeat(2, 1fr);  
    grid-template-rows: repeat(2, 1fr);    
    gap: 30px; 
   margin-top: 20px;
   }
  
#cube {
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 350px;
    background-color: #fff;
     text-align: center;
    justify-content: center;  
     border-top: 10px solid #FF6A00;
     box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.10);
     border-radius: 0px 0px 20px 20px  ;
}
#cube:hover{
    transform: scale(1.05);
    transition: .8s;
    cursor: pointer;
}
#h1-cube{
    font-family: "Roboto", serif;
    font-size: 40px;
    line-height: 34px;
    font-style: bold;
    color: #FF6A00;
}
#p-cube{
   font-family: "Roboto", serif;
   font-size: 24px;
   line-height: 34px;
   font-style: Regular;
   color: #000;
  
}
