#main-principal{
    display: flex;
    width: 100%;
    height: 600px;
    margin-top: 50px;
}

/*lado esquerdo*/
#lado-esquerdo{
 width: 45%;
 height: 1000px;
 box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
 
}
#div-h1-and-p-left{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
#h1-lado-esquerdo{
 font-family: "Inter", serif;
 font-size: 55px;
 font-style: bold;
 line-height:auto ;
 color: #FF6A00;
}
#p-lado-esquerdo{
    font-family: "Inter", serif;
    font-size: 25px;
    font-style: bold;
    line-height:auto ;
    color: #8F8F8F;

}
#imgs-fundo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 620px;
    height: auto;
    align-items: center;
    position: relative;
    z-index: -1;
    margin-top: 20px;
}
#div-imgs-fundo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 620px;
    height: 100%;
    align-items: center;
    position: relative;
    z-index: -1;
    margin-top: 60px;

}

#div-img-1{
    display: flex;
    justify-content: start;
    width: 80%;
    position: absolute;
    z-index: 1;
 
}
#div-imgs-fundo:hover{
  transform: scale(1.05);
  
}
#div-img-2{
    display: flex;
    justify-content: end;
    width: 80%;
    position: absolute;
    z-index: 2;
    margin-top: 100px;
}
#div-img-3{
    display: flex;
    justify-content: start;
    width: 80%;
    position: absolute;
    z-index: 3;
    margin-top: 250px;
}
#div-img-4{
    display: flex;
    justify-content: end;
    width: 80%;
    position: absolute;
    z-index: 4;
    margin-top:400px;
}





/*lado esquerdo*/

/*/////////////////////////////*/

/*lado direito*/


#lado-direito{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    height: 100%;
}

/*divs h1-and-p*/
#div-h1-and-p-right{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#h1-lado-direito{
    font-family: "Inter", serif;
    font-size: 60px;
    font-style: bold;
    line-height:auto ;
    color: #FF6A00;
}
#p-lado-direito{
    font-family: "Inter", serif;
    font-size: 20px;
    font-style: bold;
    line-height:auto ;
    color: #8F8F8F;
}
/*divs h1-and-p*/


/*div-input*/

#h1-input-email{
    font-family: "Inter", serif;
    font-size: 25px;
    font-style: bold;
    line-height:auto ;
    color: #000;
}
#h1-input-senha{
    font-family: "Inter", serif;
    font-size: 25px;
    font-style: bold;
    line-height:auto ;
    color: #000;
}
#h1-input-confir-senha{
    font-family: "Inter", serif;
    font-size: 25px;
    font-style: bold;
    line-height:auto ;
    color: #000;
}

#input-email{
    width: 417px;
    height: 52px;
    border-radius: 20px;
    border: none;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
     
}
#input-senha{
    width: 417px;
    height: 52px;
    border-radius: 20px;
    border: none;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}
#confir-input-senha{
    width: 417px;
    height: 52px;
    border-radius: 20px;
    border: none;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}
#input-email:focus{
    transform: scale(1.05);
    transition: 0.8s;
    border: 1px solid  #FF6A00; ;
    outline: none;
}
#input-senha:focus{
    transform: scale(1.05);
    transition: 0.8s;
    border: 1px solid  #FF6A00; ;
    outline: none;
}
#confir-input-senha:focus{
    transform: scale(1.05);
    transition: 0.8s;
    border: 1px solid  #FF6A00; ;
    outline: none;
}
 
/*div-input*/


/*div-buttons*/

#div-buttons{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    gap: 20px;
}

#button-login{
width: 160px;
height: 50px;
background: #FF6A00;
border: none;
color: white;
border-radius: 20px;
font-family: "Inter", serif;
font-size: 35px;
font-style: bold;
line-height:auto ;
color: #fff;
box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}
#button-login:hover{
    transform: scale(1.05);
    transition: 0.8s;
    cursor: pointer;
    }
#logo-google-login{
width: 30px;
height: 30px;
}
#button-google{
    display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
    width: 241px;
    height: 51px;
    background: #fff;
    border-radius: 20px;
    border: none;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    font-family: "Inter", serif;
    font-size: 18px;
    font-style: bold;
    line-height:auto ;
    color: #8F8F8F;
}
#button-google:hover{
    transform: scale(1.05);
    transition: 0.8s;
    cursor: pointer;
}

/*img-periferia*/
#div-img-periferia{
    margin-top: 60px;
}
#img-periferia{
    width: 390px;
    height: 190px;
}
/*img-periferia*/

/*div-p-login-and-criar*/
#div-p-login-and-criar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#p-login-and-criar{
    font-family: "Inter", serif;
    font-size: 18px;
    font-style: bold;
    line-height:auto ;
    color: #8F8F8F;
}
#a-login-and-criar{
    font-family: "Inter", serif;
    font-size: 25px;
    font-style: bold;
    line-height:auto ;
    color: #000;
    text-decoration: none;
    list-style-type: none;
}
#a-login-and-criar:hover{
    transform: scale(1.05);
    transition: 0.8s;
    cursor: pointer;
    color: #FF6A00;
}
/*div-p-login-and-criar*/





/*div-buttons*/




/*lado direito*/
